
button,
input,
optgroup,
select,
textarea {
  font-family: $main_family;
}

input[type=submit],
button[type=submit],
button[type=button]{
  font-size: $main_font_size;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}