/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(/HotSpot_template/assets/img/fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(/HotSpot_template/assets/img/fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(/HotSpot_template/assets/img/blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(/HotSpot_template/assets/img/fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(/HotSpot_template/assets/img/fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url(/HotSpot_template/assets/img/fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }
@charset "UTF-8";

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: Circle;
  src: url(/HotSpot_template/assets/fonts/Circe-Regular.eot), url(/HotSpot_template/assets/fonts/Circe-Regular.ttf);
}

/* Переменные */

/* Плейсхольдеры */

.va-slice .va-slice__title,
.text-container,
.block-container .block-container__inner {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.va-slice .va-slice__title {
  font-size: 13px;
}

/* ============================ */

html {
  height: 100%;
}

body {
  font-family: Circle, Helvetica, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Circle, Helvetica, sans-serif;
}

input[type=submit],
button[type=submit],
button[type=button] {
  font-size: 13px;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.clearboth {
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

/* Переменные */

/* Плейсхольдеры */

@media (max-width: 767px) {
  .wrapper .wrapper__inner,
  .footer .footer__inner {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .wrapper .wrapper__inner,
  .footer .footer__inner {
    width: 600px;
  }
}

/* ============================ */

body {
  min-width: 320px;
  height: 100%;
  overflow: scroll;
}

@media (max-width: 640px) {
  body {
    background: url(/HotSpot_template/assets/img/background@2x.jpg) no-repeat top center fixed;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  body {
    background: url(/HotSpot_template/assets/img/background@3x.jpg) no-repeat top center fixed;
  }
}

@media (min-width: 961px) {
  body {
    background: url(/HotSpot_template/assets/img/background-large.jpg) no-repeat top center fixed;
  }
}

.page {
  height: 100%;
  display: table;
  width: 100%;
}

.page .page__inner {
  display: table-row;
  height: 100%;
}

.header .header__logo {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 767px) {
  .header .header__logo {
    height: 51px;
    width: 239px;
    background: url(/HotSpot_template/assets/img/istranet-logo-img.png) no-repeat center center;
    top: 49.5px;
  }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 1.5dppx), (max-width: 767px) and (min-resolution: 144dpi) {
  .header .header__logo {
    background-image: url(/HotSpot_template/assets/img/istranet-logo-img@2x.png);
    background-size: 239px 51px;
  }
}

@media (min-width: 768px) {
  .header .header__logo {
    height: 89px;
    width: 424px;
    background: url(/HotSpot_template/assets/img/istranet-logo-img2.png) no-repeat center center;
    top: 65.5px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx), (min-width: 768px) and (min-resolution: 144dpi) {
  .header .header__logo {
    background-image: url(/HotSpot_template/assets/img/istranet-logo-img2@2x.png);
    background-size: 424px 89px;
  }
}

.header .header__logo a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .header {
    height: 130px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 200px;
  }
}

/* Переменные */

/* ============================ */

.wrapper .wrapper__inner {
  margin: 0 auto;
}

/* Переменные */

/* Плейсхольдеры */

.va-form__input,
.va-form__submit,
.va-form__button {
  -webkit-border-radius: 100px;
          border-radius: 100px;
  border: solid 4px rgba(102, 210, 255, 0.3);
  padding: 0 10px 0 10px;
  text-align: center;
  display: block;
}

/* ============================ */

.text-container {
  text-align: center;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
  margin: 15px 10px 15px 10px;
}

@media (max-width: 767px) {
  .text-container {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .text-container {
    font-size: 18px;
  }
}

.block-container .block-container__inner {
  text-align: center;
  font-weight: bold;
  line-height: 1.25;
  font-size: 14px;
  padding: 5px;
  margin: 5px 0 5px 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-clip: padding-box;
  background-color: #ffffff;
  /*box-shadow: 0 6px 34px 0 rgba(0, 0, 0, 0.16);*/
  -webkit-backdrop-filter: blur(19.6px);
  backdrop-filter: blur(19.6px);
}

.block-container .block-container__error {
  color: #ff6666;
}

.block-container .block-container__warning {
  color: #949e13;
}

.va-container {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-backdrop-filter: blur(19.6px);
  backdrop-filter: blur(19.6px);
  background-color: #ffffff;
  /*box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.16);*/
}

.va-container .va-container__inner_slice-next {
  -webkit-box-shadow: 0 -6px 38px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 -6px 38px 0 rgba(0, 0, 0, 0.26);
}

.va-slice .va-slice__title {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: #404040;
  cursor: pointer;
}

.va-slice .va-slice__title:before {
  content: '';
}

@media (max-width: 767px) {
  .va-slice .va-slice__title {
    height: 40px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .va-slice .va-slice__title {
    height: 50px;
    line-height: 50px;
  }
}

.va-slice .va-slice__title .va-slice__title_inner {
  height: 23px;
  line-height: 23px;
  display: inline-block;
  vertical-align: middle;
}

.va-slice .va-slice__title .va-slice__title_inner img {
  width: 23px;
  height: 23px;
  border: 0;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .va-slice .va-slice__title .va-slice__title_inner img {
    margin: -4px 24px 0 18px;
  }
}

@media (min-width: 768px) {
  .va-slice .va-slice__title .va-slice__title_inner img {
    margin: -4px 24px 0 28px;
  }
}

.va-slice .va-slice__content {
  display: none;
  text-align: center;
  padding: 0 10px 40px 10px;
}

.va-form__block {
  width: 100%;
  padding-bottom: 14px;
  margin: 0;
}

.va-form__label {
  display: block;
  color: rgba(106, 106, 106, 0.8);
}

.va-form__input {
  color: #6a6a6a;
  width: 220px;
  height: 50px;
  font-size: 18px;
  margin: 0 auto;
}

.va-form__input:-moz-placeholder {
  color: rgba(106, 106, 106, 0.4);
  text-align: center;
}

.va-form__input::-webkit-input-placeholder {
  color: rgba(106, 106, 106, 0.4);
  text-align: center;
}

.va-form__input::-moz-placeholder {
  color: rgba(106, 106, 106, 0.4);
  text-align: center;
}

.va-form__input:-ms-input-placeholder {
  color: rgba(106, 106, 106, 0.4);
  text-align: center;
}

.va-form__input:focus {
  border-color: rgba(80, 230, 255, 0.5);
}

.va-form__input_error {
  border-color: rgba(255, 102, 102, 0.6);
}

.va-form__input_error:focus {
  border-color: rgba(255, 102, 102, 0.6);
}

.va-form__label .va-form__input {
  margin: 14px auto 0;
}

.va-form__submit,
.va-form__button {
  width: 248px;
  height: 58px;
  background-color: #3681fa;
  margin: 0 auto;
  cursor: pointer;
}

.va-form__submit:hover,
.va-form__button:hover {
  background-color: #255db8;
}

button.va-form__submit img {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  top: -2px;
  position: relative;
  border: 0;
}

button.va-form__submit span {
  padding-right: 31.5px;
  padding-left: 10.5px;
}

button.va-form__button span {
  padding-right: 10.5px;
  padding-left: 10.5px;
}

.timer iframe {
  display: none;
}

.timer .timer__phone a {
  text-decoration: none;
  font-weight: bold;
  color: #949e13;
}

.timer .timer__time {
  font-weight: bold;
  color: #ff6666;
  width: 1.2em;
  display: inline-block;
}

.autologin .autologin__title {
  padding: 35px 10px 25px 10px;
  text-align: left;
  color: #6a6a6a;
}

.autologin .autologin__title .autologin__title_inner {
  width: 248px;
  height: 38px;
  line-height: 38px;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}

.autologin .autologin__title .autologin__title_inner img {
  width: 20px;
  height: 35px;
  border: 0;
  vertical-align: middle;
  margin: 0 20px 0 10px;
  display: inline-block;
  float: left;
}

.autologin .autologin__title .autologin__title_inner .autologin-block-number {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.autologin .autologin__title .autologin__title_inner .autologin-block-number div {
  line-height: 1.2em;
}

.autologin .autologin__title .autologin__title_inner .autologin-block-number div.autologin-block-number__text {
  font-size: 14px;
}

.autologin .autologin__title .autologin__title_inner .autologin-block-number div.autologin-block-number__number {
  font-size: 20px;
}

.autologin .autologin__content {
  text-align: center;
  padding: 0 10px 10px 10px;
}

.autologin .autologin__content .autologin__content_block {
  padding-bottom: 25px;
}

.autologin .autologin-enter {
  font-size: 14px;
  line-height: 16px;
}

.autologin .autologin-enter a {
  text-decoration: none;
  color: #6a6a6a;
}

.autologin .autologin-enter:after {
  content: url(/HotSpot_template/assets/img/right@2x.png);
  vertical-align: middle;
  position: relative;
  padding: 0 8px;
}

/* Переменные */

/* Плейсхольдеры */

/* mixin */

/* ============================ */

.sites {
  margin-top: 30px;
}

.sites .sites__button {
  display: block;
  float: left;
  text-align: center;
  font-size: 14px;
}

.sites .sites__button a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #d2d2d2;
}

@media (max-width: 767px) {
  .sites .sites__button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
  }

  .sites .sites__button:nth-child(odd) {
    background: url(/HotSpot_template/assets/img/bgbut1.png) no-repeat top center;
  }

  .sites .sites__button:nth-child(even) {
    background: url(/HotSpot_template/assets/img/bgbut2.png) no-repeat top center;
  }

  .sites .sites__button:nth-child(1) {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .sites .sites__button:not(.sites__button_empty):nth-last-child(2) {
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .sites .sites__button:not(.sites__button_empty):nth-last-child(3) {
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .sites .sites__button_empty {
    display: none;
  }
}

@media (min-width: 768px) {
  .sites .sites__button {
    width: 50%;
    height: 70px;
    line-height: 70px;
    border: 0;
  }

  .sites .sites__button:nth-child(4n-3),
  .sites .sites__button:nth-child(4n) {
    background: url(/HotSpot_template/assets/img/bgbut1.png) no-repeat top center;
  }

  .sites .sites__button:nth-child(4n-1),
  .sites .sites__button:nth-child(4n-2) {
    background: url(/HotSpot_template/assets/img/bgbut2.png) no-repeat top center;
  }

  .sites .sites__button:nth-child(1) {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .sites .sites__button:nth-child(2) {
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .sites .sites__button:nth-last-child(2) {
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .sites .sites__button:nth-last-child(3) {
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

/* Переменные */

/* Плейсхольдеры */

/* ============================ */

.footer {
  width: 100%;
  display: block;
  font-size: 13px;
}

.footer .footer__inner {
  padding: 20px 0 20px 0;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.footer .footer__inner div {
  padding: 2px 0 2px 0;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.footer a:visited {
  color: #ffffff;
}

/* FAQ */

@media (max-width: 767px) {
  .fancybox-wrap {
    width: 300px !important;
  }
}

@media (min-width: 768px) {
  .fancybox-wrap {
    width: 600px !important;
  }
}

.fancybox-wrap .fancybox-inner {
  width: 100% !important;
  height: auto !important;
}

.fancybox-wrap .fancybox-close {
  background: none;
  font-size: 24px;
  color: grey;
  text-decoration: none;
  top: 0;
  right: -15px;
}

.fancybox-wrap .fancybox-close:before {
  content: 'x';
}

.faqs-block {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #404040;
  font-weight: bold;
}

.faqs-block .faqs-block__question_title {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
}

.faqs-block .faqs-block__question_title:after {
  content: url(/HotSpot_template/assets/img/down@2x.png);
  vertical-align: middle;
  position: relative;
}

.faqs-block .faqs-block__question_title .faqs-block__question_title-inner {
  min-height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

.faqs-block .faqs-block__question_titl_rotate:after {
  content: url(/HotSpot_template/assets/img/up@2x.png);
}

.faqs-block .faqs-block__question_answer {
  display: none;
  font-size: 13px;
  color: #525252;
  padding: 0 15px 10px 15px;
}